<ng-template #dateTemplate let-row="row" let-value="value">
  {{value | date : 'longDate'}}
</ng-template>
<div>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Reporte Avion</h4>
  </div>
  <div class="modal-body">
        <ngx-datatable class="bootstrap ngx-datatable" [rows]="this.registres" [columns]="columns" [columnMode]="'force'"
    [headerHeight]="50" [footerHeight]="50" [rowHeight]="'auto'" (page)="setPage($event)" [externalPaging]="true"  
    [limit]="5" [virtualization]="false" [offset]="actualPage" [count]="this.toltalElements">
    </ngx-datatable>
  </div>
</div>