<table class="table table-bordered">
  <tbody>
    <tr style="width: 50px; height: 50px;" *ngFor="let x of this.tableView; let i = index">
      <th *ngFor="let dis of x; let j = index" scope="row" >
        <img *ngIf="this.shouldPaintAirplane(i, j) && !this.lightIsPowerOn"
          src="../../../assets/img/pages/avioncito.png" width="60" height="50" />
        <img *ngIf="this.shouldPaintAirplane(i, j) && this.lightIsPowerOn"
          src="../../../assets/img/pages/avioncito-light.png" width="60" height="50" />
        <label *ngIf="dis === 1">
          -
        </label>
        <img *ngIf="isPeopleFallingHere(i,j) === true" src="../../../assets/img/pages/parachute.png" width="20"
          height="20" />
      </th>
    </tr>
  </tbody>
</table>