<div>
  <div class="modal-header">
    <h4 class="modal-title" *ngIf="this.comunicationModelInfo.mode === 'view'" id="modal-basic-title">Ver Vehículo</h4>
    <h4 class="modal-title" *ngIf="this.comunicationModelInfo.mode === 'edit'" id="modal-basic-title">Editar Vehículo</h4>
    <h4 class="modal-title" *ngIf="this.comunicationModelInfo.mode === 'create'" id="modal-basic-title">Crear Vehículo</h4>
    <button type="button" class="close" aria-label="Close" (click)="close()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form (ngSubmit)="onSubmit()" [formGroup]="vehicleForm">
      <div class="row">
        <div class="col-md-12">
          <div class="form-group">
            <label for="vehicleCapacity">Capacidad: </label>
            <input type="text" class="form-control" autofocus maxlength="100" formControlName="vehicleCapacity"
              placeholder="Capacidad del vehículo" [(ngModel)]="vehicleModelInfo.capacidad">
            <div class="alert alert-danger"
              *ngIf="validatorForm.vehicleCapacity.invalid && (validatorForm.vehicleCapacity.dirty && validatorForm.vehicleCapacity.touched)">
              <div *ngIf="validatorForm.vehicleCapacity.errors.required">
                El campo de capacidad no puede estar vacío
              </div>              
              <div *ngIf="validatorForm.vehicleCapacity.errors.maxlength">
                El campo de capacidad no puede exceder los 10 caracteres
              </div>
            </div>
          </div>          
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="form-group">
            <label for="vehicleName">Nombre: </label>
            <input type="text" class="form-control" autofocus maxlength="100" formControlName="vehicleName"
              placeholder="Nombre del Vehículo" [(ngModel)]="vehicleModelInfo.nombre">
            <div class="alert alert-danger"
              *ngIf="validatorForm.vehicleName.invalid && (validatorForm.vehicleName.dirty && validatorForm.vehicleName.touched)">
              <div *ngIf="validatorForm.vehicleName.errors.required">
                El campo de nombre no puede estar vacío
              </div>              
              <div *ngIf="validatorForm.vehicleName.errors.maxlength">
                El campo de nombre no puede exceder los 100 caracteres
              </div>
            </div>
          </div>          
        </div>
      </div>     
      <div class="row">
        <div class="col-md-12">
            <div class="form-group">
            <label for="tipoVehicle">Tipo de Vehículo: </label>
            <ng-select
                  placeholder="Seleccione un tipo de vehículo"
                  [(ngModel)]="vehicleModelInfo.idTipoVehiculo.id" 
                  formControlName= "tipoVehicle">
                  <ng-option [value]="item.id" *ngFor="let item of typeVehicles">                  
                      {{item.dato}}
                  </ng-option>
            </ng-select>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <button type="button" *ngIf="this.comunicationModelInfo.mode === 'view'" class="btn btn-success btn-block"
            [disabled]="this.vehicleForm.invalid" (click)="close()">
            <label class="white">Cerrar</label>
          </button>
          <button type="submit" *ngIf="this.comunicationModelInfo.mode === 'edit'" class="btn btn-success btn-block"
            [disabled]="this.vehicleForm.invalid">
            <label>Actualizar</label>
          </button>
          <button type="submit" *ngIf="this.comunicationModelInfo.mode === 'create'" class="btn btn-success btn-block"
            [disabled]="this.vehicleForm.invalid">
            <label>Crear</label>
          </button>
        </div>
      </div>
    </form>
  </div>
</div>