<div class="container">
  <form>
    <h4>Controles Secundarios</h4>
    <div class="row">
      <div class="form-group">
        <button type="submit" class="btn btn-success btn-block" [disabled]="!this.isFly"
          (click)="this.sendNewDirective('Up')">
          <i class="glyphicon glyphicon-arrow-up" style="color: white;"></i>
        </button>

        <button type="submit" class="btn btn-success btn-block" [disabled]="!this.isFly"
          (click)="this.sendNewDirective('Down')">
          <i class="glyphicon glyphicon-arrow-down" style="color: white;"></i>
        </button>

        <div class="form-group">
          <button type="submit" class="btn btn-success btn-block" [disabled]="!this.isFly"
            (click)="this.sendNewDirective('To')">
            <label class="white"> To...</label>
          </button>
          <input type="text" class="form-control" autofocus placeholder="Altura" [(ngModel)]="userAlt"
            [disabled]="!this.isFly" name="alt">
        </div>


        <button type="submit" class="btn btn-success btn-block" [disabled]="!this.isFly"
          (click)="this.sendNewDirective('Eject')">
          <label class="white"> Eject</label>
        </button>

        <button type="submit" class="btn btn-success btn-block" [disabled]="!this.isFly"
          (click)="this.sendNewDirective('Change')">
          <label class="white"> Power on ligth</label>
        </button>
      </div>
    </div>
  </form>
</div>