<div class="row">
    <div class="col-md-9 col-offset-3">
        <app-principal-controls (eventEmmitter)="this.getNewPrincipalDirective($event)"></app-principal-controls>
    </div>
</div>
<div class="row">
    <div class="col-md-3">
            <app-secundary-controls (eventEmitter)="this.getNewSecundaryDirective($event)"></app-secundary-controls>
    </div>
    <div class="col-md-9">
        <app-table-airplanes></app-table-airplanes>
    </div>
</div>