<div>
  <div class="container">
    <form>
      <h4>Controles Principales</h4>
      <div class="row">
        <div class="col-md-3">
          <div class="form-group">
            <button type="submit" class="btn btn-success btn-block" (click)="sendNewDirective('start')">
              <label class="white"> Start</label>
            </button>
          </div>
        </div>
        <div class="col-md-3">
          <div class="form-group">
            <button type="submit" id="takeOffButton" class="btn btn-success btn-block" [disabled]="!this.canTakeOff" (click)="sendNewDirective('takeOff')">
              <label class="white"> Take Off</label>
            </button>
          </div>
        </div>
        <div class="col-md-3">
          <div class="form-group">
            <button type="submit" class="btn btn-success btn-block" [disabled]="!this.canToLand" (click)="sendNewDirective('toLand')">
              <label class="white"> To Land</label>
            </button>
          </div>
        </div>
        <div class="col-md-3">
          <div class="form-group">
            <button type="submit" class="btn btn-success btn-block" [disabled]="!this.canViewReport" (click)="sendNewDirective('openReport')">
              <label class="white"> Get Report</label>
            </button>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>